@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body *::-webkit-scrollbar {
  width: 11px;
}

body *::-webkit-scrollbar-track {
  background-color: transparent;
}

body *::-webkit-scrollbar-thumb {
  background-color: #69d2ff59;
  border-radius: 4px;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: #0000008d;
  border-radius: 100px;
}

body::-webkit-scrollbar-thumb {
  background-color: #05b4ff99;
  border-radius: 100px;
}

body {
  background-size: cover;
  background-position: center center;
  background-image: url(/templi-pilt.webp);
  background-attachment: fixed;
}
